/*  your css code here. If applicable */
.con{
	display:flex;
	background-color:whitesmoke;
	padding:10px;
	border-width:10px;
	justify-content:space-between;
	border-radius:10px;
}
.green{
	height:100px;
	width:100px;
	border-radius:50%;
	background-color:green;
}
.yellow{
	height:100px;
	width:100px;
	border-radius:50%;
	background-color:yellow;
}
.red{
	height:100px;
	width:100px;
	border-radius:50%;
	background-color:red;
}